%h1 Pages#home
%p This is a template page that has to exist while we generate the users module

- if current_user
   = link_to 'Sign out', destroy_user_session_path, method: :delete
- else
   = link_to 'Sing in', new_user_session_path
