.btn-circle {
    width: 60px;
    height: 60px;
    padding: 6px 0px;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    line-height: 1.42857;
}

.clickable{
    cursor: pointer;
}

.avatar{
    width:200px;
    height:200px;
}

.avatar-sm{
  width:100px;
  height:100px;
}

.avatar-xs{
  width:80px;
  height:80px;
}

.alert{
    font-weight: bold;
    margin-top:10px;
    z-index: 999;
    margin-left:2%;
    position: absolute;
    background-color: rgb(248, 108, 107);
}

.notice{
    font-weight: bold;
    margin-top:10px;
    z-index: 999;
    margin-left:2%;
    position: absolute;
    background-color: rgb(99, 194, 222);
}

.bg-nav-color{
background-color: rgb(61, 133, 198);
}
.color-nav-icon{
    color: #ffffff
}
#color-nav{
    color: #ffffff;
}

.color-dropdown{
    color: #000000
}

a:hover{
    color: #6d20d8;
}


.btn-purple {
  color: #fff;
  background-color: #6d20d8;
  border-color: #6d20d8;
}

.btn-purple:hover {
  color: #fff;
  background-color: #5b22cc;
  border-color: #5b20d8;
}

.btn-purple:focus, .btn-purple.focus {
  box-shadow: 0 0 0 0.2rem rgba(133, 32, 216, 0.5);
}

.btn-purple.disabled, .btn-purple:disabled {
  color: #fff;
  background-color: #6d20d8;
  border-color: #6d20d8;
}

.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active,
.show > .btn-purple.dropdown-toggle {
  color: #fff;
  background-color: #5b20d8;
  border-color: #5920d8;
}

.btn-purple:not(:disabled):not(.disabled):active:focus, .btn-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(133, 32, 216, 0.5);
}
.nav-image{
  max-width: 5em;
  -webkit-filter: grayscale(100%) invert(100%) brightness(150%); /* Safari */
  filter:  grayscale(100%) invert(100%) brightness(150%);
}

.button-margin-top{
  margin-top: auto;
}

.color-search-title{
  color: black;
  opacity: 0.7;
}

.font-size-search{
  font-size: large;
}

body{
  background-color: #ffffff;
}

.logo-without-results{
  max-height: 200px;
  filter: invert(100%) sepia(50%) saturate(900%) hue-rotate(180deg) brightness(100%) contrast(20%);
}


.height-width-buttom{
  height: 3em;
  width: 3em;
  padding-top: 10px;
}
.padding-0{
  padding: 0px;
}