.row
  .col-12.col-md-10.offset-md-1
    .form-row.mb-3
      .col-3
        %h4.text-primary Precios
      .col-6
        .input-group.mb-3
          .input-group-prepend
            .input-group-text.border-dark
              %i.fas.fa-search
          %input.form-control.form-control-sm.border.border-dark{placeholder: "Buscar Material" }
      .col-2
        = link_to 'Subir Excel', upload_prices_path, class: "btn btn-primary btn-sm"

    %table.table.table-sm.table-striped
      %thead
        %tr.bg-primary.text-light
          %th Material
          %th Unidad
          %th precio
          %th
            %button Guardar Todo
      %tbody
        %tr
          %td Cable UTP cat 5
          %td 1 mt
          %td
            %input{placeholder: "Q8.00", type: "text"}/
          %td.text-right
            %button Guardar
