.row.justify-content-center.align-items-center
    .col-12.col-md-10.offset-md-2
        .form-row.mb-3
            .col-5.my-auto.text-primary
                %h1 Editar Material
    .col-2.col-md-4.py-5
        = render 'form'