- if notice.is_a? Array
  - notice.each do |message|
    %p.notice.rounded.p-3= message.titleize
- elsif notice
  %p.notice.rounded.p-3= notice.titleize
- if alert.is_a? Array
  - alert.each do |message|
    %p.alert.rounded.text-light.p-3= message.titleize
- elsif alert
  %p.alert.rounded.text-light.p-3= alert.titleize