- if notice.is_a? Array
  - notice.each do |message|
    %p.rails-notice.rounded.text-light.p-3= message
- elsif notice
  %p.rails-notice.rounded.text-light.p-3= notice
- if alert.is_a? Array
  - alert.each do |message|
    %p.rails-alert.rounded.text-light.p-3= message
- elsif alert
  %p.rails-alert.rounded.text-light.p-3= alert