.modal#reset-password-confirmation-modal{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title= t('users.registrations.edit_form.reset.title')
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
      %div
        .modal-body.text-justify
          = t('users.registrations.edit_form.reset.body',email: @user.email)
        .modal-footer
          = link_to reset_password_users_registration_path(@user), class: "btn btn-danger btn-sm", rel: "nofollow", "data-method"=>"post" do
            =t('users.registrations.edit_form.reset.confirm')
          %button.btn.btn-secondary.btn-sm{"data-dismiss" => "modal", :type => "button"}= t('brands.cancel')