= javascript_pack_tag "users/registrations/edit", media: "all", "data-turbolinks-track": "reload"
= render partial: "edit_reset_password_confirmation_modal"
.row
  .col-12.col-md-10.offset-md-1.col-lg-6.offset-lg-3
    = render 'edit_form'